[Unit]
Description=Telegram MTProto proxy
After=network-online.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/sbin/mtprotoproxy /etc/mtprotoproxy.conf
Restart=always
RestartSec=10
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
