[Unit]
Description=MTProxy
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/libexec/mtproxy/mtproxy.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
Also=mtproxy-config.timer
